<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns#">
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.6/components/transition.min.js"></script> <!-- transition from semantic-ui http://semantic-ui.com/modules/transition.html -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/components/transition.min.css"> <!-- also transition from semantic-ui -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./design.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
    <script src="./design.js"></script>
</head>
<body>
    <div class="welcometext" hidden>
    <p id=welcometome>Welcome to me!</p>
    </div>
    
    <div class="everything" hidden>
        <p id=welcometome>TEST WORKING</p>
    </div>
</body>