body {
		background: #060f1e url(imgs/gummy.jpg) center center no-repeat;
		background-size: cover;
  background-color: #060f1e;
  align-content: left;
}
#title {
    text-align: left;
    font-size: 900%;
    color: #ffffff;
}
#icon {
    align-content: left;
    font-size: 350%;
    color: gray;
    align-content: left;
    width:100px;
}
#info {
    text-align: left;
    color: #ffffff;
}
a {
    color: gray;
    font-family: 'Cabin', serif;
}
section {
    margin: auto;
}
div#one {

    float: left;
}
div#two {
margin-left: 5%;
    height: 100px;
}