body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin-top: 30vh;
  }
  .info {
    float: right;
  }
  .icon {
    width: 50px;
    heigth: 50px;
  }
  .sombra {
    heigth: 200px;
    width: 200px;
    border: 6px solid white;
    margin: auto;
    display: block;
  }