body {
    background-color: #1B1C1D;
    color: white;
    padding-top: 70px;
    background-color: #1B1C1D;
    background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url('./cliff.jpg');
}
#jumbot {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:transparent !important;
}
#slogan {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
}
#info {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;
}
#profile {
    text-align: center;
}
#project {
    text-align: center;
}
#profilelist {
    display:flex;
    justify-content:center;
    align-items:center;
}
.icons {
    color: white;
    font-size: 20px;
    text-align: center;
}
a:hover {
    text-decoration: none;
}
#seperator {
    width: 15px;
}
#buttonseemore {
    float: right;
}
.btn:focus {
    outline: 0;
}