body {
    /*display:table;*/
    background-color: #1B1C1D;
    color: white;
    padding-top: 70px;
}
#box {
    width: 100%;
	height: 100%;
	position: absolute;
    color: #fff;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}
#slogan {
	text-align: center;
	font-size: 100px;
	font-family: 'Lato', sans-serif;
	color: white;
}
#inputs {
	width: 40%;

	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
}
#startby {
	text-align: center;
}
#info {
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    position: relative;
}
#container2 {
	top: 200%;
	position: absolute;
}
#click {
	position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}