body {
	  background: #060f1e url(./gummy.jpg) center center no-repeat;
    background-size: cover;
    background-color: #060f1e;
}
#title {
    text-align: left;
    font-size: 900%;
    color: #ffffff;
    text-align: left;
}
#icon {
    font-size: 350%;
    color: gray;
}
#info {
    text-align: left;
    color: #ffffff;
}
a {
    color: gray;
    font-family: 'Cabin', serif;
}
div#one {
    float: left;
}
a:hover {
    color: white;
}
